---
import ImageCanva from '../components/ImageCanva.astro';
import WorkSection from '../components/WorkSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Furious Mushroom">
	<main>	
		<ImageCanva/>
		<WorkSection/>
	</main>
</Layout>
