---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout title="Furious Mushroom">
	<main>		
		<NavBar/>
	</main>
</Layout>
