---
import ImageCanva from '../components/ImageCanva.astro';
import WorkSection from '../components/WorkSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Furious Mushroom">
	<main>	
		<ImageCanva/>
		<WorkSection/>
	</main>
</Layout>

<style>
	:global(html) {
		scroll-behavior: smooth;
	}

	@media (prefers-reduced-motion: reduce) {
     :global(html) {
       scroll-behavior: auto;
     }
   }
</style>
