---
interface Props {}

const {} = Astro.props;
---

<main class="py-8 px-6 inline-flex mx-auto w-4/5">
    <h2 class={"tittle"}>Furious Mushroom</h2>
    <ul class="flex flew-row gap-x-8">
        <a class={""}>Video</a>
        <a class={""}>Social Media</a>
        <a class={""}}>Editorial</a>
    </ul>
</main>

<style>
    .tittle {

    } 
    .tittle :hover {
        
    }
</style>

