---
interface Props {}

const {} = Astro.props;
---

<main class="py-8 px-6 inline-flex justify-between mx-auto w-4/5">
    <h2 class={"tittle"}>Furious Mushroom</h2>
    <ul class="flex flew-row gap-x-8">
        <a class={"nav-link"} href="/">Home</a>
        <a class={"nav-link"} href="/Video">Video</a>
        <a class={"nav-link"} href="/SocialMedia">Social Media</a>
        <a class={"nav-link"}}href="/Editorial">Editorial</a>
    </ul>
</main>

<style>
    .nav-link {

    } 
    .nav-link :hover {
        
    }
</style>

